.login {
  padding: 15px;
}
.signUp {
  padding: 15px;
}
.login form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.signUp form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login input {
  width: 350px;
}
.signUp input {
  width: 350px;
}
.section {
  width: 500px;
  border-radius: 11px;
  box-shadow: 0 0 2px 2px #7674d8;
  height: 460px;
  margin: 0 auto;
  margin-top: 50px;
  /* margin-bottom: 50px; */
  padding: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
